*,
*::after,
*::before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-size: 62.5%;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Montserrat', sans-serif;
	background-color: rgb(233, 233, 233);
}

.counter-app {
	position: relative;
}

.app-body {
	display: flex;
	flex-direction: column;
	width: 800px;
	height: 800px;
	border-radius: 15px;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
	overflow: hidden;
}

.image-section {
	position: relative;
	height: 400px;
	background-image: url('../img/default.jpg');
	background-position: center;
	background-size: cover;
}

.settings {
	&__btn {
		position: absolute;
		top: 20px;
		right: 20px;
		padding: 20px 30px;
		font-size: 3.2rem;
		background-color: #f9f9f9;
		border: 1px solid black;
		border-radius: 8px;
		cursor: pointer;
		transition: background-color 0.3s, color 0.3s;

		&:hover {
			color: #f9f9f9;
			background-color: black;
		}
	}
}

.time-section {
}

// .settings {
//     display: flex;
// 	justify-content: center;
// 	align-items: center;
// 	flex-direction: column;
//     border-radius: 8px;

//     &__title {
//         padding: 20px;
//         font-size: 4rem;
//     text-transform: uppercase;
// }

// &__label {
//     display: block;
//     text-align: center;
//     padding: 10px;
//     font-size: 2rem;
//     }

//     &__input, &__btn {
//         text-align: center;
//         margin: 0 10px 15px;
//         padding: 10px;
//         font-size: 1.6rem;
//         background: none;
//         border-radius: 5px;
//         cursor: pointer;
//     }
// }
